<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Category</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-grid fixed>
        <div class="grid-body">
            <ion-row>
                <ion-col>
                    <div id="region">
                        Indian
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div id="tooltips" size="auto">
                        Mughalai cuisine
                    </div>
                </ion-col>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Rajasthani cuisine
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Bengali cuisine
                    </div>
                </ion-col>
                <ion-col>
                    <div id="tooltips" size="auto">
                        Andhra Cuisine
                    </div>
                </ion-col>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Gujarati Cuisine
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div id="region">
                        Chinese
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Cantonese
                    </div>
                </ion-col>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Hunan
                    </div>
                </ion-col>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Jiangsu
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Zhejiang
                    </div>
                </ion-col>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Szechuan
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div id="region">
                        Continental Recipes
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Crispy Calamari Rings
                    </div>
                </ion-col>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Sweet Potato Pie
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div size="auto" id="tooltips-ext">
                        Quick Salted Caramel Pie
                    </div>
                </ion-col>
                <ion-col>
                    <div size="auto" id="tooltips">
                        Prawn Pie
                    </div>
                </ion-col>
                <ion-col>
                    <div size="auto" id="tooltips-ext">
                        Poached Pear Salad
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>