<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large"></ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong class="capitalize">Tech Ninjas</strong>
        <p></p>
    </div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Roll No.</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>Paul Lakra</td>
            <td>44</td>
            <td>Ranchi</td>
        </tr>
        <tr>
            <td>Jayanti Ragini Bakhla</td>
            <td>14</td>
            <td>Ranchi</td>
        </tr>
        <tr>
            <td>Akancha Minz</td>
            <td>05</td>
            <td>Ranchi</td>
        </tr>
        <tr>
            <td>Nisha Munda</td>
            <td>102</td>
            <td>khunti</td>
        </tr>
    </table>

</ion-content>
<div class="container">
    <p></p>
    <img src="https://cdn.vox-cdn.com/thumbor/_ADQBQouVZgm32bIJEPDO9X82Q8=/0x0:750x1334/1200x800/filters:focal(315x607:435x727)/cdn.vox-cdn.com/uploads/chorus_image/image/51509801/IMG_0064.0.PNG" style="width: 40%; height: 80%;" />
</div>
<div id="container">
    <p><strong class="capitalize"><b>To Contact Us Dial </b>9976458345 </strong></p>
    <p>Or Login to foodhaven@gmail.com</p>
</div>